

DB_HOST=169.239.251.102
DB_PORT=3306
DB_NAME=webtech_2025A_marc_sossou
DB_USER=marc.sossou
DB_PASS=your_password_here


SESSION_LIFETIME=3600

SESSION_NAME=BONTEN_SESSION


CSRF_TOKEN_NAME=csrf_token
