
<!DOCTYPE html>


<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Loading...</title>
    <link rel="stylesheet" href="../public/css/loader.css">

    <link rel="icon" href="../public/assets/bonten.png" type="image/x-icon">
</head>

<body>

    <div class="loader">

    </div>
    <script src="../public/js/loader.js"></script>


<script src="https://cdn.userway.org/widget.js" data-account="yHxBfPK57z" data-position="3"></script>

</body>

</html>